In [28]:
import boto3
import pandas as pd


def read_s3_file(bucket, key):
    s3 = boto3.client('s3',
                      aws_access_key_id="AKIAZ6VZFIT5JEFLTDWK",
                      aws_secret_access_key="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")

    obj = s3.get_object(Bucket=bucket, Key=key)
    df = pd.read_csv(obj['Body'])
    return df

In [29]:
read_s3_file("uk-naija-datascience-21032023", "omolewa.csv")

  This is a Test File for our group assignment.
0                                  Members are:
1                                    1. Collins
2                                     2. Joseph
3                                       3. Nene
4                                      4. Nneka
5                                      5. Angie